@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.navigation-logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus {
  opacity: 0.3;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-link {
  display: block;
  padding: 19px 0 17px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  outline: none;
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #000000;
}

.navigation-user-link:hover {
  fill: #756157;
}

.navigation-user-link:focus {
  fill: #756157;
}

.navigation-user-link:active {
  fill: #756157;
  opacity: 0.6;
}

.navigation-user-link-num {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
}

.button {
  display: inline-block;
  padding: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover,
.button-light:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled {
  background-color: #E5E5E5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.button-transparent:active {
  background-color: transparent;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.intro {
  background-image: url("../images/index-background.jpg");
  color: #ffffff;
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 70px 82px;
}

.intro-img {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.intro-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-description {
  padding: 69px 70px 68px;
  text-align: center;
}

.page-description-recommendations {
  padding-top: 63px;
  padding-bottom: 41px;
}

.page-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-description-recommendations .page-title {
  margin-bottom: 21px;
}

.page-text {
  margin-top: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}


.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  background-color: #82b3d3;
  width: 100%;
  color: #ffffff;
}

.advantages-container {
  display: flex;
}

.advantages-content {
  min-height: 385px;
  width: 400px;
  text-align: center;
  padding: 113px 85px 30px;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item-full:last-child .advantages-image {
  order: -1;
}


.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 31px;
  padding-bottom: 31px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  color: #333333;
}

.advantages-item-full .advantages-text {
  color: #ffffff;
}

.advantages-list-recommendations .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-recommendations .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-list-recommendations .advantages-content {
  padding-top: 183px;
  background-repeat: no-repeat;
  background-position: center 78px;
}

.advantages-content-home {
  background-image: url("../images/advantage-house.svg");
}

.advantages-content-food {
  background-image: url("../images/advantage-house.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/advantage-souvenirs.svg");
}

.advantages-list-recommendations .advantages-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.advantages-list-recommendations .advantages-title::after {
  display: none;
}

.search {
  padding: 96px 70px;
  text-align: center;
}

.search-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  display: block;
  margin: auto;
}

.subscribe {
  padding: 96px 70px 104px;
  text-align: center;
}

.subscribe-home {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 55px;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
  max-width: 684px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  appearance: none;
}

.form-input:hover {
  background-color: #E6E6E6;
}

.form-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.form-input:focus:not(:placeholder-shown) {
  background: #f2f2f2;
  border: 2px solid #000000;
}

.form-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-input {
  height: 52px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

/**Каталог**/
.filter {
  padding: 35px 70px 68px;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  color: #ffffff;
  background-color: #82b3d3;
  background-repeat: no-repeat;
}

.filter-page-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item-home .breadcrumbs-link {
  width: 13px;
  height: 21px;
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

.filter-form {
  display: grid;
  grid-template-columns: auto auto 1fr 191px;
  gap: 20px 70px;
  align-items: start;
  padding-top: 40px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-range {
  margin-left: auto;
}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.filter-title {
  padding: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: start;
}

.filter-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
}

.filter-control-input {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
}

.filter-control-input[type="checkbox"]:checked {
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-control-input[type="radio"] {
  border-radius: 50%;
}

.filter-control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filter-control-input:hover,
.filter-control-input:hover + .filter-control-label {
  opacity: 0.6;
}

.filter-control-input:focus {
  outline: 3px solid #83b3d3;
}

.filter-control-input:active,
.filter-control-input:active + .filter-control-label {
  opacity: 0.3;
}

.filter-control-input:disabled,
.filter-control-input:disabled + .filter-control-label {
  opacity: 0.3;
  pointer-events: none;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-range-change {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 2px;
  margin-bottom: 35px;
}

.filter-range-item {
  position: relative;
}

.filter-range-input {
  padding: 10px 45px 10px 18px;
}

.filter-range-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-range-input::-webkit-outer-spin-button,
.filter-range-input::-webkit-inner-spin-button {
  appearance: none;
}

.filter-range-item label {
  position: absolute;
  right: 0;
  padding: 11px 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-toggle {
  position: relative;

  height: 20px;
}

.filter-toggle::before,
.filter-toggle::after {
  content: "";
  position: absolute;
  bottom: 8px;

  height: 4px;
}

.filter-toggle::before {
  left: 0;

  width: 76%;

  background-color: #ffffff;
}

.filter-toggle::after {
  right: 0;

  width: 24%;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter-toggle-item {
  position: absolute;
  bottom: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.filter-toggle-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-toggle-item:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter-toggle-item:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.filter-toggle-item:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  pointer-events: none;
}

.filter-toggle-item-min {
  left: 0;
}

.filter-toggle-item-max {
  right: 21%;
}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.sorting {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px 62px;
  align-items: center;
  padding: 32px 70px 20px;
}

.sorting-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.sorting-select {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;
  background-color: transparent;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.sorting-select:hover {
  border: 2px solid #68A2CA;
}

.sorting-select:focus {
  border: 2px solid #68A2CA;
}

.sorting-select:active {
  border: 2px solid #3F5E72;
}

.sorting-select:disabled {
  border: 2px solid #000000;
  opacity: 0.3;
  pointer-events: none;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
}

.sorting-item {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.sorting-item:hover {
  border: 2px solid #000000;
}

.sorting-item:focus {
  border: 2px solid #68A2CA;
}

.sorting-item:active {
  border: 2px solid #000000;
}

.sorting-item-tile {
  background-image: url("../images/mode-1.svg");
}

.sorting-item-slideshow {
  background-image: url("../images/mode-2.svg");
}

.sorting-item-list {
  background-image: url("../images/mode-3.svg");
}

.sorting-item-active {
  border: 2px solid #000000;
}

.hotels {
  padding: 0 70px 24px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px 18px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-img {
  display: block;
  height: 212px;
  grid-column: 1/-1;
}

.hotels-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-img:hover {
  outline: 2px solid #756157;
}

.hotels-img:focus {
  outline: 2px solid #756157;
}

.hotels-img:active {
  opacity: 0.6;
}

.hotels-link {
  grid-column: 1/-1;
  text-decoration: none;
  color: #000000;
}

.hotels-link:hover {
  text-decoration: underline;
}

.hotels-link:focus {
  text-decoration: underline;
}

.hotels-link:active {
  opacity: 0.3;
}

.hotels-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotels-text {
  color: #333333;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-favorites-active:hover,
.hotels-favorites-active:focus {
  background-color: #6C9E42;
}

.hotels-favorites-active:active {
  background-color: #7db54f;
}

.hotels-favorites-disabled,
.hotels-favorites:disabled {
  background-color: #e5e5e5;
}

.hotels-rating-star {
  display: block;
  height: 37px;
  background-image: url("../images/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotels-rating-text {
  display: block;
  padding: 8px;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 37px 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  border-color: transparent;
  pointer-events: none;
}

.pagination-link-more {
  padding: 16px 10px 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border: transparent;
}

.pagination-link-more:focus {
  background-color: transparent;
  border-color: #68a2ca;
}

.pagination-link-more:hover,
.pagination-link-more:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}


.page-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  padding: 40px 70px 30px;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  color: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}

.social-link svg {
  fill: currentColor;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  display: block;
  margin: 0 auto;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-logo {
  display: block;
  height: 33px;
  width: 115px;
  color: #000000;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo svg {
  fill: currentColor;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px 64px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 63px;
  right: 52px;
  width: 52px;
  height: 52px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 2px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-title {
  padding-right: 40px;
  text-align: left;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 82px;
  padding-top: 38px;
}

.form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;

}

.form-label {
  width: 120px;
  padding-top: 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.date {
  grid-column: 1/-1;
}

.date-input {
  padding: 12px 56px 10px 18px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
}

.form-message-error {
  color: red;
}

.people-input-container {
  position: relative;
}

.people-input {
  padding: 13px 30px 10px;
  line-height: 20px;
  text-align: center;
}

.people-button {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.people-button::before,
.people-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  transform: translate(-50%, -50%);
}

.people-button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.people-button-minus {
  left: 8px;
}

.people-button-minus::after {
  display: none;
}

.people-button-plus {
  right: 7px;
}

.form-button {
  grid-column: 1/3;
  height: 60px;
  margin-top: 48px;
}

.tooltip-container {
  display: flex;
  align-items: start;
  width: 120px;
  padding-left: 6px;
}

.tooltip {
  position: relative;
  margin-left: 11px;
  margin-right: 46px;
  padding-top: 13px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #82b3d3;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
  border-radius: 50%;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #82b3d3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  opacity: 0.3;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 256px;
  margin: 15px 0 0;
  padding: 20px 20px 23px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: -1;
  width: 12px;
  height: 12px;
  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
